@model ElderlyCareApp.Models.MedicationLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicationLog</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Elderly Person</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ElderlyPerson.Name)</dd>
                
                <dt class="col-sm-4">Caregiver</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.User.Name)</dd>
                
                <dt class="col-sm-4">Medication Name</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.MedicationName)</dd>
                
                <dt class="col-sm-4">Dosage</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Dosage)</dd>
                
                <dt class="col-sm-4">Frequency</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Frequency)</dd>
                
                <dt class="col-sm-4">Route</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Route)</dd>
                
                <dt class="col-sm-4">Prescribed By</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PrescribedBy)</dd>
                
                <dt class="col-sm-4">Prescription Date</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PrescriptionDate)</dd>
                
                <dt class="col-sm-4">Expiry Date</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ExpiryDate)</dd>
                
                <dt class="col-sm-4">Pharmacy</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Pharmacy)</dd>
                
                <dt class="col-sm-4">Pharmacy Phone</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PharmacyPhone)</dd>
                
                <dt class="col-sm-4">Status</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
                
                <dt class="col-sm-4">Scheduled Time</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ScheduledTime)</dd>
                
                <dt class="col-sm-4">Actual Time</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ActualTime)</dd>
                
                <dt class="col-sm-4">Requires Refill</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RequiresRefill)</dd>
                
                <dt class="col-sm-4">Refill Reminder Date</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.RefillReminderDate)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Instructions</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Instructions)</dd>
                
                <dt class="col-sm-4">Side Effects</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.SideEffects)</dd>
                
                <dt class="col-sm-4">Drug Interactions</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Interactions)</dd>
                
                <dt class="col-sm-4">Notes</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Notes)</dd>
                
                <dt class="col-sm-4">Created At</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CreatedAt)</dd>
                
                <dt class="col-sm-4">Updated At</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UpdatedAt)</dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
