@model ElderlyCareApp.Models.MealLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MealLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElderlyPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElderlyPerson.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">Meal Time</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MealTime)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
